/* Sobre escritura de los estilos por defecto */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
}

ul, ol {
    list-style: none;
}

/* Fuentes */

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Monocraft', 'Poppins', sans-serif;
    color: var(--foreground);
}

/* Variables */

:root {
    --background: rgb(198, 198, 198);
    --foreground: rgb(0, 0, 0);
    --muted: rgb(139, 139, 139);
    --primary: rgb(160, 145, 114);
    --border: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(79, 79, 79);
        --foreground: rgb(255, 255, 255);
        --muted: rgb(56, 56, 56);
        --primary: rgb(160, 145, 114);
        --border: rgb(0, 0, 0);
    }
}

